<%- include("partials/header") %>

	<!-- <h1 style="text-align:center;">
    Join Room
</h1> -->
<!-- <div class="container">

    <div class="row"> -->
        
        <!-- <div class="col-xs-9">
            
        </div> -->
		
		<div id="gameContainer"></div>
    
		
		
        <!-- <div class="col-xs-3 sidebar"> -->
		<div class="sidebar">
    
            <!-- <div style="width:30%; margin:30px auto; ">			 -->
                <form id="message-form">
                    <div class="form-group">
                        <p>Room Name:</p>
                        <input class="form-control" type="text" id="roomName">
                    </div>
                    
                    <div class="form-group">
                        <p>Password:</p>
                        <input class="form-control" type="text" id="password">
                    </div>
        
                    <div class="form-group">
                        <p>Players:</p>
                        <input class="form-control" type="number" id="players" value=2 min=2 max=10>
                    </div>					
					
					<% if(user) { %>
                    <div class="form-group">
                        <!-- <p>User Name:</p> -->
                        <input class="form-control" type="hidden" id="userName" value="<%= user.username %>" disabled>
                    </div>				
        
                    <div class="form-group">
                        <!-- <p>User ID:</p> -->
                        <input class="form-control" type="hidden" id="userID" value="<%= user.id %>" disabled>
                    </div>				
        			<% } %>
        
        
                    <div class="form-group left float-left width-50-percent">					
                        <input class="btn btn-primary btn-100" value="Create Room" id="create"> 					
                    </div>
        
                    <div class="form-group left float-left width-50-percent">					
                        <input class="btn btn-primary btn-100" value="Join Room" id="join"> 					
                    </div>
        
                </form>
        
                <div id="message-box">
                    <ul id="messages">
                </div>
        
                </ul>  			
                
                <div class="">
                    <form id="message-input">
                        <div class="form-group no-margin">
                            <input type="text" id="fname" name="fname">
                        </div>
            
                        <div class="form-group no-margin">					
                            <input class="btn btn-primary btn-100" id="submit-message" value="Message"> 					
                        </div>
            
                    </form>
                </div>

            <!-- </div> -->
        </div>

    <!-- </div>
</div> -->

<script>

    socket_address = "<%= address %>";
	instance_type = "<%= instance_type %>";
	
</script>


<script src="/js/classes/loading_Screen.js"></script>
<script src="/js/classes/game_setup.js"></script>
<script src="/js/classes/mouse_selection.js"></script>
<script src="/js/classes/hud.js"></script>
<script src="/js/classes/button.js"></script>
<script src="/js/classes/popup.js"></script>
<script src="/js/classes/particle.js"></script>
<script src="/js/classes/collisions.js"></script>

<script src="/js/classes/unit.js"></script>
<script src="/js/classes/bullet.js"></script>
<script src="/js/classes/pathfinder3.js"></script>
<script src="/js/classes/squad_setup.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/scenes/MainMenuScene.js"></script>
<script src="/js/scenes/ArmySelectMenuScene.js"></script>
<script src="/js/scenes/GameScene.js"></script>

<script src="/js/ui/ArmySelectUIScene.js"></script>
<script src="/js/ui/ArmySetupUIScene.js"></script>
<script src="/js/ui/GameUIScene.js"></script>


<script src="/js/seeder.js"></script>
<script src="/js/connFunctions.js"></script>


<script src="/js/main.js"></script>
<script src="/js/functions.js"></script>

<script>

<% if(typeof room !== 'undefined') { %>
        let room_data = <%- JSON.stringify(room) %>
        let army_data = <%- JSON.stringify(armies) %>  
        // console.log(room_data)
        gameFunctions.params.room_name = room_data.room_name
    	// gameFunctions.params.room_id = room_data.room_id
        gameFunctions.params.users = room_data.users	
        gameFunctions.params.forces = room_data.forces
        gameFunctions.params.player_number = 0
        gameFunctions.params.max_players = room_data.config.max_players
        gameFunctions.params.max_sides = room_data.config.max_sides	

        gameFunctions.params.forces.forEach((force, i) => {
            force.army = army_data[i]
        })

<% } %>
	
	
</script>



<%- include("partials/footer") %>