<%- include("../partials/header") %>
 
<script>
// ######     #     #####  #######       #     # #######    #    ######  ####### ######  
// #     #   # #   #     # #             #     # #         # #   #     # #       #     # 
// #     #  #   #  #       #             #     # #        #   #  #     # #       #     # 
// ######  #     # #  #### #####   ##### ####### #####   #     # #     # #####   ######  
// #       ####### #     # #             #     # #       ####### #     # #       #   #   
// #       #     # #     # #             #     # #       #     # #     # #       #    #  
// #       #     #  #####  #######       #     # ####### #     # ######  ####### #     # 
</script>


<div class="container">
	<div class="row">
		
		<div class="col-md-12 no-padding">
			<div class="thumbnail">	

				<div class="caption-full">

					<h4>
                        <a href=
                        <% if(1===1){ //if(user.id === report.owner) { %>
                            "/army/<%= army._id %>/edit"
                        <% } else { %>
                            "/army/<%= army._id %>"
                        <% } %>
                        ><%= army.name %></a>
					</h4>				
						
					
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 no-padding">

			<% //if (user && product.author.id.equals(user._id) ) { 
				%>

                <% //if(user.id === report.owner) { %>
                    <a class="btn btn-primary left" href="/army/<%= army._id %>/edit" role="button">Edit</a>
                <% //} %>	

                <form action="/army/<%= army._id %>/copy?_method=PUT" method="POST" class="left"
                    onsubmit="return confirm('Are you sure you want to copy this army?');">
					<button class="btn btn-primary left-margin-5">
						Copy
					</button>
				</form>

				<% //if(user.id === report.owner) { %>
                    <form action="/army/<%= army._id %>?_method=DELETE" method="POST" class="right-button"
                        onsubmit="return confirm('Are you sure you want to delete this army?');">
						<button class="btn btn-primary left-margin-5">
							Delete
						</button>
					</form>
				<% //} %>	

			<% //} %>

		</div>
	</div>
</div>


<script>
// ######  ####### ####### #######        #####  ####### #     # #######    #    ### #     # ####### ######  
// #     # #     # #     #    #          #     # #     # ##    #    #      # #    #  ##    # #       #     # 
// #     # #     # #     #    #          #       #     # # #   #    #     #   #   #  # #   # #       #     # 
// ######  #     # #     #    #    ##### #       #     # #  #  #    #    #     #  #  #  #  # #####   ######  
// #   #   #     # #     #    #          #       #     # #   # #    #    #######  #  #   # # #       #   #   
// #    #  #     # #     #    #          #     # #     # #    ##    #    #     #  #  #    ## #       #    #  
// #     # ####### #######    #           #####  ####### #     #    #    #     # ### #     # ####### #     # 
</script>


<!-- CONTAINER TO CONTAINS THE VARIABLE, NESTED FORM -->
<div class="container army-builder 
    <% if(1 !== 1) { //if(user.id !== report.owner) { %> 
    disable-form
    <% } %>">

    <form action="/army/<%= army._id %>?_method=PUT" method="POST"
        onsubmit="return confirm('Are you sure you want to save changes to this army?');">

        <% //if(user.id === report.owner) { %> 
            <button class="btn btn-primary add-squad" type="button">
                Add Squad
            </button>	
        <% //} %>

        <ul class="sortable sortable-squads"></ul>

        </ul>    

        <% //if(user.id === report.owner) { %>        
        <div class="top-padding">

            <button class="btn btn-primary">
                Save
            </button>					
        </div>
        <% //} %>

    </form>

</div>

<div class="top-padding">
    <a href="/army">Go Back</a>
</div>


<script>


let squad = []
let squad_data;
let upgrade_data;
<% squads.forEach((squad) => { %>

    squad_data = {
        id: "<%= squad._id %>",
        name: "<%= squad.name %>",
        upgrades: []
    }
    <% squad.upgrades.forEach((upgrade) => { %>
        upgrade_data = {
            id: "<%= upgrade._id %>",
            name: "<%= upgrade.name %>"
        }
        squad_data.upgrades.push(upgrade_data)
    <% }) %>
    squad.push(squad_data)

<% }) %>

console.log(squad_data)


//    #    ######  ######         #####  #######  #####  ####### ### ####### #     # 
//   # #   #     # #     #       #     # #       #     #    #     #  #     # ##    # 
//  #   #  #     # #     #       #       #       #          #     #  #     # # #   # 
// #     # #     # #     # #####  #####  #####   #          #     #  #     # #  #  # 
// ####### #     # #     #             # #       #          #     #  #     # #   # # 
// #     # #     # #     #       #     # #       #     #    #     #  #     # #    ## 
// #     # ######  ######         #####  #######  #####     #    ### ####### #     # 

    function add_squad_function(){

        //GENERATE A UNIQUE ID
        let number = $(".squad").length + 1
        let text_number = 'Squad '+number 

        //CREATE MARKUP SCRIPT
        let markup = `
        <li class="ui-state-default squad tr-grab  no-padding" id="squad_`+number+`">      

            <div class="box">
                <div>
                    <span left-button>`+text_number+`</span>
                </div>

                <div class="container">
	                <div class="row">
		
                        <div class="col-md-3 no-padding">
                            <div class="form-group">
                                <p>Name:</p>
                                <input class="form-control" type="text" name="[params][squads][][input_name]">
                            </div> 
                        </div>  

                        <div class="col-md-5 no-padding">
                            <div class="form-group">                        
                                <p>Type:</p>
                                <select class="form-control" name="[params][squads][][name]">
                                    <option value=""></option>
                                    <% squads.forEach((squad) => { %>
                                        <option value="<%= squad._id %>"><%= squad.name %></option>
                                    <% }) %>
                                </select>                                
                            </div>        
                            
                        </div>  

                        <div class="col-md-2 no-padding">
                            <div class="form-group">     
                                <p>Squad Size:</p>
                                <input class="form-control" type="number" min="5" max="10"  name="[params][squads][][size]">  
                            </div>                         
                        </div>    
                        
                        <div class="col-md-2 no-padding">
                            <div class="form-group">     
                                <p>Squad Cost:</p>
                                <input class="form-control" type="text" name="[params][squads][][cost]" disabled>  
                            </div>                         
                        </div>                            
                        
                    </div>
                </div>
            </div>

            <% //if(user.id === report.owner) { %> 
                <button class="btn btn-primary add-upgrade" type="button">
                    Add Upgrade
                </button>	  
                <button class="btn btn-primary delete-squad right-button" type="button">
                    Delete Squad
                </button>	                
            <% //} %>

            <ul class="sortable sortable-upgrades">

            </ul>
        </li>
        `

        // APPEND MARKUP TO SORTABLE UL TAG
        $(".sortable-squads").append(markup)

        //GET ADD BUTTON FOR squad AND ADD CLICK FUNCTION TO IT
        let squad_button = $("#squad_"+number).children('.add-upgrade')
        squad_button.click(add_upgrade_function);

        console.log($("#squad_"+number))

        let delete_squad_button = $("#squad_"+number).children('.delete-squad')
        delete_squad_button.click(delete_parent_function);

        <% //if(user.id === report.owner) { %> 
            updateSortable()
        <% //} %>

        let return_data = $("#squad_"+number)
        return return_data
	}


//    #    ######  ######         #####  #     # ######   #####  #######  #####  ####### ### ####### #     # 
//   # #   #     # #     #       #     # #     # #     # #     # #       #     #    #     #  #     # ##    # 
//  #   #  #     # #     #       #       #     # #     # #       #       #          #     #  #     # # #   # 
// #     # #     # #     # #####  #####  #     # ######   #####  #####   #          #     #  #     # #  #  # 
// ####### #     # #     #             # #     # #     #       # #       #          #     #  #     # #   # # 
// #     # #     # #     #       #     # #     # #     # #     # #       #     #    #     #  #     # #    ## 
// #     # ######  ######         #####   #####  ######   #####  #######  #####     #    ### ####### #     #	

    // ADD A upgrade TO THE PARENT OF "THIS" OBJECT
	function add_upgrade_function(){

		let parent = $(this).parent();

        //CHECK TO SEE A SQUAD IS SELECTED
        let selected = parent.find("[name='[params][squads][][name]'] option:selected").val();
        if(selected){
            add_upgrade(parent, selected)
        }

	}

	function add_upgrade(parent, selected){

		let parent_span = $(parent[0]).find("span")[0].innerText
		let text_number = 'Upgrade '+(parent.children().find('.upgrade').length + 1)
		let number = $(".upgrade").length + 1        


		let markup = `        
		<li class="ui-state-default upgrade tr-grab" id="upgrade_`+number+`">         

			<div class="box">
				<span>`+text_number+`</span>

                <select class="form-control" name="[params][squads][][upgrades][]">
                    <option value=""></option>

                    <% squads.forEach((squad) => { %>
                        <% if(squad.upgrades) { %>
                            <% squad.upgrades.forEach((upgrade) => { %>
                                <option value="<%= upgrade._id %>"><%= upgrade.name %></option>
                            <% }) %>
                        <% } %>
			        <% }) %>

                </select>   

			</div>

			<ul class="sortable sortable-paragraphs">
			
			</ul>            

			<% //if(user.id === report.owner) { %>   
				<button class="btn btn-primary delete-upgrade right-button" type="button">
					Delete Upgrade
				</button>	                
			<% //} %>   

		</li>                
		`


		//GET PARENT OF BUTTON THEN FULE SORTABLE squad UL WITHIN CHILDREN AND APPEND MARKUP
		// $(this).parent().children('.sortable-upgrades').append(markup)
		parent.children('.sortable-upgrades').append(markup)
		let upgrade_button = $("#upgrade_"+number).children('.add-paragraph')

		let delete_upgrade_button = $("#upgrade_"+number).children('.delete-upgrade')
		delete_upgrade_button.click(delete_parent_function);

		<% //if(user.id === report.owner) { %>         
			updateSortable()       
		<% //} %>

		let return_data = $("#upgrade_"+number)
		return return_data
	}


// #     # ###  #####   #####  
// ##   ##  #  #     # #     # 
// # # # #  #  #       #       
// #  #  #  #   #####  #       
// #     #  #        # #       
// #     #  #  #     # #     # 
// #     # ###  #####   #####  

	// ADD THE "ADD squad" FUNCTION TO ANYTHING WITH THE ADD-squad CLASS
	$(".add-squad").click(add_squad_function);	



	updateSortable = () => {
        $( ".sortable" ).sortable({
            // stop: updateIndex,
            opacity: 0.6,
            placeholder: "ui-state-highlight",
            forcePlaceholderSize: true
        });
        $( ".sortable" ).disableSelection(); //make sortable text area unselectable  
    }

	function delete_parent_function(){
            
		let parent = $(this).parent();
		parent.remove()
		// updateIndex()
	}	

</script>



<%- include("../partials/footer") %>